<mat-toolbar>
  <span>Estudiantes Web App</span>
  <button mat-icon-button (click)="sidenav.toggle();">
    <mat-icon>menu</mat-icon>
  </button>

  <span style="flex: 1 1 auto;;"></span>
  <label style="font-size:14px; margin-right: 20px; color: white;">{{ username }}</label>

  <button mat-icon-button (click)="closeSesion()" aria-label="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened mode="side" style="width: 220px; background: black;">
    <mat-nav-list>
      <mat-list-item routerLink="/layout/relations">
        <mat-icon matListItemIcon style="color: white;">group_add</mat-icon>
        <div matListItemTitle style="color: white;">Asociar usuarios</div>
      </mat-list-item>
      <mat-list-item routerLink="/layout/classSubjects">
        <mat-icon matListItemIcon style="color: white;">category</mat-icon>
        <div matListItemTitle style="color: white;">Materias</div>
      </mat-list-item>
      <mat-list-item routerLink="/layout/userApp">
        <mat-icon matListItemIcon style="color: white;">group_add</mat-icon>
        <div matListItemTitle style="color: white;">Usuarios</div>
      </mat-list-item>
    
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 90vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
